body {
  font-family: "Calibri", Calibri, sans-serif;
}

.input-bar {
  width: 60vw;
  height: 3vh;
  border-radius: 2%;
  box-shadow: 5px 10px 10px #88888880;
  margin-right: 10px;
}

.submit-button {
  margin-left: 0px;
}

.input-bar:hover {
  scale: 1.03;
  transition: all 0.4s;
  margin-right: 20px;
}

@keyframes inputbar-focus {
  0% {
    scale: 1;
  }

  100% {
    scale: 1.05;
  }
}
